[Desktop Entry]
Name=Student Course System
Exec={INSTALL_PATH}/StudentCourseSystem
Icon={INSTALL_PATH}/assets/icon.png
Type=Application
Categories=Education;Utility;
Terminal=true
